[submodule "dependencies/WDL"]
	path = dependencies/WDL
	url = https://github.com/justinfrankel/WDL
[submodule "dependencies/reaper-sdk"]
	path = dependencies/reaper-sdk
	url = https://github.com/justinfrankel/reaper-sdk
