// main.rc
#include "resource.h"
#include "sdk/reaper_plugin.h" // Для SWELL_DLGVER

IDD_WEBVIEW_MAIN SWELL_DLG_TYPE "WebView"
BEGIN
  // Этот элемент управления типа "User" будет заменен на WebView при инициализации.
  CONTROL "", IDC_WEBVIEW_PLACEHOLDER, "User", 0, 0, 0, 100, 100
END