// Reaper WebView Plugin
// (c) Andrew "SadFrozz" Brodsky
// 2025 and later
// resource.rc


#include "resource.h"

IDR_PNG_SEARCH_PREV RCDATA "res/search_prev.png"
IDR_PNG_SEARCH_NEXT RCDATA "res/search_next.png"
